rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /sessions/{sessionId} {
      allow read:  if true;
      allow write: if true;

      match /attendees/{attendeeId} {
        allow read:  if true;
        allow write: if true;
      }
    }

    match /coordinators/{coordId} {
      allow read:  if true;
      allow write: if true;
    }

    // Miembros del grupo (registro extendido)
    match /members/{memberId} {
      allow read:  if true;
      allow write: if true;
    }
  }
}
